<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
    <title>Top Menu</title>
    <!-- Bootstrap CDN　修正必要 -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">中外製薬パイプライン</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><p class="navbar-text">Signed in as: <a href="#" class="navbar-link" id="username">{{ session.username }}</a></p></li>
          <li><a href="/logout" id="logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="">
      <div class="row">
        <div class="col-sm-12 container-fluid-top">
          <h1 class="top-menu">Top Menu</h1>
                  <div class="container-fluid-top">
          <button type="button" onclick="location.href='./ligand/list'" style="width:100px;">Request</button></br></br>
          <button type="button" onclick="location.href='./ligand/list'" style="width:100px;">Ligand</button></br></br>
          <button type="button" onclick="location.href='./ligand/list'" style="width:100px;">Request</button></br></br>
          <button type="button" onclick="location.href='./ligand/list'" style="width:100px;">Ligand</button></br></br>

        </div>
                </div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pipeline.js')}}"></script>
  </body>
</html>
