<!DOCTYPE html>
<html>
  <head>
    <title>Ligand:Details View</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}">
<script src="/static/js/common.js"></script>

  </head>
  <body>
    <div class="main_content"> <!--- main_content --->
      <h1>Ligand：Details View</h1>
        <table class="s-tbl">
        	<tbody>
        		<tr>
        			<th>Type</th>
        			<td colspan="2">{{ligand_details_info.ligand_type_name}}</td>
        		</tr>
        		<tr>
        			<th>Name</th>
        			<td colspan="2">{{ligand_details_info.ligand_name}}</td>
        		</tr>
        		<tr>
        			<th>Residue Name</th>
        			<td colspan="2">{{ligand_details_info.residue_name}}</td>
        		</tr>
        		<tr>
        			<th>Aliases</th>
        			<td colspan="2">{{ligand_details_info.ligand_aliases_txt}}</td>
        		</tr>
        		<tr class="structure">
        			<th>Structure</th>
        			<td colspan="2"><img src="{{ url_for('static', filename='images/'+ '{{ligand_details_info.ligand_type_cd}}' + '/' + '{{ligand_details_info.ligand_name}}' +'.png')}}"></td>
        		</tr>
        		<tr>
        			<th rowspan="1">Project</th><!---登録してあるProject数によって、出てくる項目数が変わる。縞々維持等もFlaskで対応できる？---->
                  <!---project_nameの代わりにproject_idを表示している --->
            			<td>{{ligand_details_info.project_name}}</td>
            			<td>({{ligand_details_info.ligand_code}})</td>
        		</tr>

        		<tr>
        			<th>Lots</th><!--- for in endforを使う --->
        			<td colspan="2">{{ligand_details_info.ligand_lot_name}}</td>
        		</tr>
        	</tbody>
        </table>
        <button type="button" class="edit-btn" onclick="location.href='/ligand/edit/view?ligand_id={{ligand_details_info.ligand_id}}'">Edit</button>
        <button type="button" class="list-btn" onclick="location.href='./list'">List View</button>
    </div> <!--- /main_content --->

  </body>
</html>
