<!DOCTYPE html>
<html>
  <head>
    <title>Ligand:Details Edit</title>
    <style></style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}">
    <script
      src='https://code.jquery.com/jquery-2.2.4.min.js'
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js'
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script>
</script>

    <script src="common.js"></script>
    <script src="validation.js"></script>
    <link rel="stylesheet" type="text/css" href="common.css">

  </head>
  <body>{{"デバッグ用 最終更新日時:" + ligand_details_info.last_update_dtm.strftime('%Y/%m/%d %H:%M:%S%f')}}
    <div class="main_content">
      <!--- main_content --->
      <h1>Ligand : Details Edit</h1>
      <form action="/ligand/edit/save" method="post">
        <input type="hidden" name="ligand_id" value="{{ligand_details_info.ligand_id}}">
        <input type="hidden" name="last_update_dtm" value="{{ligand_details_info.last_update_dtm}}">
        <table class="s-tbl">
          <tbody>
            <tr>
              <th>Type</th>
              <td colspan="2">
                <select name="ligand_type_cd" value="{{ligand_details_info.ligand_type_cd}}">
                <!-- 修正の必要がある確認する --->
                {% for ligand_type in pulldown_ligand_type %}
                  <option value="{{ligand_type.code_key}}"
                  {% if ligand_type.code_key == ligand_details_info.ligand_type_cd %}
                  selected{% endif %}>{{ligand_type.code_short_name}}</option>
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Name</th>
              <td colspan="2">
                <input type="text" name="ligand_name" value="{{ligand_details_info.ligand_name}}">
                <button type="button">Retrieve</button>
              </td>
            </tr>
            <tr>
              <th>Residue Name</th>
              <td colspan="2">
                <input type="text" name="residue_name" value="{{ligand_details_info.residue_name}}">
              </td>
            </tr>
            <tr>
              <th>Aliases</th>
              <td colspan="2">
                <textarea style="margin-left:2px; margin-top:5px;" cols="52" rows="5" name="ligand_aliases_txt">{{ligand_details_info.ligand_aliases_txt}}</textarea>
              </td>
            </tr>
            <tr class="structure">
              <th>Structure</th>
              <td colspan="2">
                <img src="{{ url_for('static', filename='images/'+ ligand_details_info.ligand_type_cd + '/' + ligand_details_info.ligand_name + '/' + ligand_details_info.ligand_name + '.png')}}">
                <input type="hidden" name="image_file" value="AP0002245">
              </td>
            </tr>
            <tr class="prj-area" id="pj-tr1">
              <th>Project</th>
              <td>
                <select class="prj-id" name="project_id" value="{{ligand_details_info.project_id}}">
                  <option value=""></option>
                  {% for project in pulldown_project %}
                    <option value="{{project.project_id}}"
                    {% if project.project_id == ligand_details_info.project_id %}
                    selected{% endif %}>{{project.project_name}}</option>
                  {% endfor %}
              </td>
              <td>(
                <input type="text" class="prj-lgd-cd" name="ligand_code" value="{{ligand_details_info.ligand_code}}">)
                <button type="button" class="prj-del-btn" id="del-project">-</button>
                <button type="button" class="prj-add-btn" id="add-project">+</button>
              </td>
            </tr>
            <tr class="lgd-lot-area">
              <th>Lots</th>
              <td colspan="2">
                <input type="text" class="lgd-lot-name" name="ligand_lot_name" value="{{ligand_details_info.ligand_lot_name}}">
                <input type="hidden" name="ligand_lot_id" value="{{ligand_details_info.ligand_lot_id}}">
                <button type="button" class="lgd-del-btn">-</button>
                <button type="button" class="lgd-add-btn">+</button>
              </td>
            </tr>
          </tbody>
        </table>
        <input type="submit" class="save-btn" value="Save">
        <button type="button" class="delete-btn" onclick="location.href='/ligand/edit/delete?ligand_id={{ligand_details_info.ligand_id}}'">Delete</button>
        <button type="button" class="cancel-btn" onclick="location.href='/ligand/details?ligand_id={{ligand_details_info.ligand_id}}'">Cancel</button>
      </form>
    </div>
    <!--- /main_content --->
  </body>
</html>
