<!DOCTYPE html>
<html>
  <head>
    <title>Ligand:Details New</title>
    <style></style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}">
    <script
      src='https://code.jquery.com/jquery-2.2.4.min.js'
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js'
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/validation.js"></script>

    <script src="common.js"></script>
    <script src="validation.js"></script>
    <link rel="stylesheet" type="text/css" href="common.css">

  </head>
  <body>
    <div class="main_content">
      <!--- main_content --->
      <h1>Ligand : Details New</h1>
      <form action="/ligand/new/save" method="post">
        <table class="s-tbl">
          <tbody>
            <tr>
              <th>Type</th>
              <td colspan="2">
                <select name="ligand_type_cd">
                  <option value=""></option>
                  {% for ligand_type in pulldown_ligand_type %}
                    <option value="{{ligand_type.code_key}}">{{ligand_type.code_short_name}}</option>
                  {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Name</th>
              <td colspan="2">
                <input type="text" name="ligand_name">
                <button type="button">Retrieve</button>
              </td>
            </tr>
            <tr>
              <th>Residue Name</th>
              <td colspan="2">
                <input type="text" name="residue_name">
              </td>
            </tr>
            <tr>
              <th>Aliases</th>
              <td colspan="2">
                <textarea style="margin-left:2px; margin-top:5px;" cols="52" rows="5" name="ligand_aliases_txt"></textarea>
              </td>
            </tr>
            <tr class="structure">
              <th>Structure</th>
              <td colspan="2">
                <input type="hidden" name="image_file">
              </td>
            </tr>
            <tr class="prj-area" id="pj-tr1">
              <th>Project</th>
              <td>
                <select class="prj-id" name="project_id">
                  <option value=""></option>
                  {% for project in pulldown_project %}
                    <option value="{{project.project_id}}">{{project.project_name}}</option>
                  {% endfor %}
              </td>
              <td>(
                <input type="text" class="prj-lgd-cd" name="ligand_code">)
                <button type="button" class="prj-del-btn" id="del-project">-</button>
                <button type="button" class="prj-add-btn" id="add-project">+</button>
              </td>
            </tr>
            <tr class="lgd-lot-area">
              <th>Lots</th>
              <td colspan="2">
                <input type="text" class="lgd-lot-name" name="ligand_lot_name">
                <button type="button" class="lgd-del-btn">-</button>
                <button type="button" class="lgd-add-btn">+</button>
              </td>
            </tr>
          </tbody>
        </table>
        <input type="submit" class="save-btn" value="Save" >
          <input type="submit" class="delete-btn" value="Delete" >
        <button type="button" class="cancel-btn" onclick="location.href='../list'">Cancel</button>
      </form>
    </div>
    <!--- /main_content --->
  </body>
</html>
