/*見出しh1、大枠関連*/
h1.top-menu {
    margin-left: 5px;
}
.container-fluid-top{
    margin-left: 20px;
}
.list-view-body{
    margin:0px 10px;
}

/*navi関連*/
/*
.nav {
    background-color: black;
}
*/
/*table関連*/
.main_content {
    margin: 10px 20px;
}
tbody {
    width: 520px;
}
.s-tbl {
    border-collapse: collapse;
    width:520px;
}
.s-tbl th {
    border: 1px solid #000;
    text-align:left;
    font-size:80%;
    padding-left:2px;
    padding-right:5px;
    height:30px;
    width:100px
}
.s-tbl td {
    border: 1px solid #000;
    text-align:left;
    font-size:80%;
    padding-left:2px;
    padding-right:5px;
    height:30px;
}

.s-tbl tr:nth-child(even) {
    background: #eee;
}
.structure{
	height:100px;
}
textarea{
    margin-top: 5px
    margin-left: 5px
}
/*button関連*/
button.cancel-btn, .save-btn, .delete-btn, .edit-btn, .list-btn{
    margin: 10px 5px 10px 5px;/* 上下 | 左右 // 上 | 左右 | 下 // 上 | 右 | 下 | 左 */
    height: 30px;
    width: 80px;
}
button.top-menu{
    margin: 5px;
    height: 50px;
    width: 200px;
}
/*other*/
.error {color:red;}
input::placeholder .main{
	color: red;
}
textarea::placeholder .main{
	color: red;
}
